* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.image-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 10px grey;
}

#button {
    padding: 1rem;
    border-style: none;
    background: none;
}